.clickSort {
    text-align:center;
}

.clickSort table {
    margin:auto;
    margin-top: 1rem;
    width: 50rem;
}

.clickSort th{
    background-color: #FDCEB9;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.25rem;
    height: 5rem;
    text-align: center;
    white-space: nowrap;
}

.clickSort td{
    background-color: #F9E4D4;
    padding: 0.5rem;
}

.clickSort img {
    border-radius: 0.5rem;
}